*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;

}

.bg{
  background-image: url(pattern.svg);
  min-height: 240px;
  background-size: cover;
}


